html, body {
  height: 100%;
}

body {
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#game {
  width: 100%;
  height: 100%;
}
